<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <!--
  <% company.employees.each do |employee| %>
    <% cache employee do %>
      <p>
        <strong>Company:</strong>
        <%= employee.company_id %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= employee.last_name %>
      </p>

      <p>
        <strong>First name:</strong>
        <%= employee.first_name %>
      </p>

      <p>
        <strong>Phone number:</strong>
        <%= employee.phone_number %>
      </p>
    <% end %>
  <% end %>
  -->
</div>
